// Colors
$drk-magenta: hsl(300, 43%, 22%);
$sft-pink: hsl(333, 80%, 67%);
$drk-gry-magenta: hsl(303, 10%, 53%);
$lgt-gry-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  
  .blob-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .blob-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .blob-left-desktop {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .blob-right-desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
  }
}

.container {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upper-section {
  display: flex;
  flex-direction: column;
}

// Intro section
.intro {
  color: $drk-magenta;

  h1 {
    margin: 0 auto;
    width: 80%;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    line-height: 2rem;
  }
  
  p {
    padding-bottom: 2rem;
    line-height: 1.5rem;
    color: $drk-gry-magenta;
  }
}

// Ratings section
.ratings {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  
  .rating {
    background-color: $lgt-gry-magenta;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;

    .stars {
      padding: 0.5rem;

      img {
        padding-left: 0.5rem;
      }
    }

    h4 {
      color: $drk-magenta;
    }
  }
}

// Testimonials
.testimonials {
  display: flex;
  flex-direction: column;
  text-align: left;
  
  .card {
    background-color: $drk-magenta;
    color: $white;
    border-radius: 10px;
    padding: 2rem;
    margin: 0.5rem 0;
    
    p {
      line-height: 1.5rem;
      font-size: 0.8rem;
      letter-spacing: 0.01rem;
    }

    .person {
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      
      img {
        border-radius: 50%;
        width: 3rem;
        margin-right: 1.5rem;
      }

      .info {
        h5 {
          padding: 0.2rem 0;
        }

        .verified {
          color: $sft-pink;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {

  body {
    .blob-left {
      visibility: hidden;
    }
    
    .blob-right {
      visibility: hidden;
    }
    
    .blob-left-desktop {
      visibility: visible;
    }
    
    .blob-right-desktop {
      visibility: visible;
      width: 83vw;
      height: 85vh;
    }
  
  }

  .container {
    margin: 8rem auto;
    max-width: 1110px;
  }

  .upper-section {
    flex-direction: row;
    justify-content: space-between;

    .intro {
      width: 43%;
      text-align: left;

      h1 {
        margin: 0;
        font-size: 2.9rem;
        line-height: 2.9rem;
        padding-bottom: 1rem;
      }
    }

    .ratings {
      
      .rating {
        &:nth-child(1) {
          transform: translateX(-6rem);
        }

        &:nth-child(2) {
          transform: translateX(-3rem);
        }

        flex-direction: row;
        align-items: center;
        padding-right: 4rem;
        padding-bottom: 0.5rem;

        .stars {
          padding-right: 2rem;
        }
      }
    }
  }

  .testimonials {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 1.2rem;

    .card {
      height: 17rem;
      margin-bottom: 1rem;
      flex-basis: 100%;

      &:nth-child(2) {
        margin-top: 1.5rem;
      }

      &:nth-child(3) {
        margin-top: 3rem;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}