* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-image: url("/images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upper-section {
  display: flex;
  flex-direction: column;
}

.intro {
  color: #502050;
}
.intro h1 {
  margin: 0 auto;
  width: 80%;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 2rem;
}
.intro p {
  padding-bottom: 2rem;
  line-height: 1.5rem;
  color: #937b92;
}

.ratings {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.ratings .rating {
  background-color: #f7f2f7;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
}
.ratings .rating .stars {
  padding: 0.5rem;
}
.ratings .rating .stars img {
  padding-left: 0.5rem;
}
.ratings .rating h4 {
  color: #502050;
}

.testimonials {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.testimonials .card {
  background-color: #502050;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 0.5rem 0;
}
.testimonials .card p {
  line-height: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}
.testimonials .card .person {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.testimonials .card .person img {
  border-radius: 50%;
  width: 3rem;
  margin-right: 1.5rem;
}
.testimonials .card .person .info h5 {
  padding: 0.2rem 0;
}
.testimonials .card .person .info .verified {
  color: #ee68a4;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    height: 100vh;
  }

  .container {
    margin: 8rem auto;
    max-width: 1110px;
  }

  .upper-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .upper-section .intro {
    width: 43%;
    text-align: left;
  }
  .upper-section .intro h1 {
    margin: 0;
    font-size: 2.9rem;
    line-height: 2.9rem;
    padding-bottom: 1rem;
  }
  .upper-section .ratings .rating {
    flex-direction: row;
    align-items: center;
    padding-right: 4rem;
    padding-bottom: 0.5rem;
  }
  .upper-section .ratings .rating:nth-child(1) {
    transform: translateX(-6rem);
  }
  .upper-section .ratings .rating:nth-child(2) {
    transform: translateX(-3rem);
  }
  .upper-section .ratings .rating .stars {
    padding-right: 2rem;
  }

  .testimonials {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 1.2rem;
  }
  .testimonials .card {
    height: 16rem;
    flex-basis: 100%;
  }
  .testimonials .card:nth-child(2) {
    margin-top: 1.5rem;
  }
  .testimonials .card:nth-child(3) {
    margin-top: 3rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
